#app {
  height: 100%;
}

.app-container {
  width: 100%;
  box-sizing: border-box;
  .el-dialog .el-dialog__header {
    padding: 20px;
    padding-bottom: 10px;
  }
}

.main-container {
  flex: 1;
  height: calc(100% - #{$navBarHeight});
  transition: margin-left .28s;
  margin-left: $sideBarWidth;
  position: relative;
}

.sidebar-container {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  background-color: $menuBg;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 65px;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  box-shadow: 5px 0px 10px 0px #F0F4F9;
}
