body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

.padding-bt20 {
  padding-bottom: 20px;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-middle {
  align-items: baseline;
}

.flex-end {
  justify-content: flex-end;
}

.svg-icon+p {
  margin-left: 15px;
}

/* 通用盒子阴影 */
.common-box-shadow {
  box-shadow: 0px 2px 8px 0px rgba(200, 201, 204, 0.5) !important;
}

/* 通用盒子阴影 */
.common-minbox-shadow {
  box-shadow: 0px 0px 4px 0px rgba(10, 42, 97, 0.2) !important;
}

/* 通用盒子阴影 */
.common-maxbox-shadow {
  box-shadow: 0px 2px 24px 0px rgba(200, 201, 204, 0.5) !important;
}

/* 滚动条美化 */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
  cursor: pointer;
}

/*滚动条滑块隐藏*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

/*鼠标浮到容器上，显示滚动条滑块*/
:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//表格栏样式
.table-container {
  margin-top: 20px;
}

//操作栏样式
.operate-container {
  margin-top: 20px;
}

.operate-container .btn-add {
  float: right;
}

//添加、更新表单样式
.form-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 720px;
  padding: 35px 35px 15px 35px;
  margin: 20px auto;
}

//分页栏样式
.pagination-container {
  display: inline-block;
  float: right;
  margin-top: 20px;
  padding-bottom: 20px;
}

//搜索区域统一样式
.search-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  .search-form {
    label {
      font-weight: 400;
    }
    .el-input .el-input__inner {
      width: 220px;
    }
    &.el-form--inline .el-form-item {
      margin-right: 40px;
      margin-bottom: 18px;
    }
    flex-grow: 1;
  }
  .search-btn {
    flex-grow: 0;
    min-width: 160px;
  }
}


//顶部面包屑
.breadcrumb {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #666;
  span {
    padding: 0 30px;
    margin-left: 30px;
    border-left: 2px solid #999;
    &:nth-of-type(1) {
      color: #333;
      font-size: 20px;
      padding: 0;
      margin-left: 0;
      border-left: none;
    }
  }
}